.left {
  background: url("../../assets/images/left.gif") no-repeat center;
}
.right {
  background: url("../../assets/images/right.gif") no-repeat center;
}
.hit {
  background: url("../../assets/images/hit.gif") no-repeat center;
}
.miss {
  background: url("../../assets/images/miss.gif") no-repeat center;
}
.missLong {
  background: url("../../assets/images/missLong.gif") no-repeat center;
}
.missedEx {
  background: url("../../assets/images/missedEx.gif") no-repeat center;
}
.farLeft {
  background: url("../../assets/images/farleft.gif") no-repeat center;
}
.farRight {
  background: url("../../assets/images/farright.gif") no-repeat center;
}
