.left {
  background: url("../../assets/images/left.png") no-repeat center;
}
.right {
  background: url("../../assets/images/right.png") no-repeat center;
}
.hit {
  background: url("../../assets/images/hit.png") no-repeat center;
}
.miss {
  background: url("../../assets/images/miss.png") no-repeat center;
}
.missLong {
  background: url("../../assets/images/missLong.png") no-repeat center;
}
.missedEx {
  background: url("../../assets/images/missedEx.png") no-repeat center;
}
.farLeft {
  background: url("../../assets/images/farleft.png") no-repeat center;
}
.farRight {
  background: url("../../assets/images/farright.png") no-repeat center;
}
